<!doctype html>
<html lang="en">

  <head>
    {% include 'main/layout/head.html' %}
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="body-container">
      <div class="main-container">

        {% include 'main/layout/sidebar.html' %}

        <div role="main" class="main-content">
          {% include 'main/layout/navbar.html' %}

          {% block content %}{% endblock %}

          {% include 'main/layout/footer.html' %}
        </div>

      </div>
    </div>
    
    
    {% include 'main/layout/javascript.html' %}

    
    {% block javascript %}{% endblock %}
  </body>

</html>