{% load static %}
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <base href="../" />

    <title>Error 404</title>

    <!-- include common vendor stylesheets & fontawesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'template/node_modules/bootstrap/dist/css/bootstrap.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'template/node_modules/@fortawesome/fontawesome-free/css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'template/node_modules/@fortawesome/fontawesome-free/css/regular.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'template/node_modules/@fortawesome/fontawesome-free/css/brands.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'template/node_modules/@fortawesome/fontawesome-free/css/solid.css' %}">

    <!-- include fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'template/dist/css/ace-font.css' %}">

    <!-- ace.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'template/dist/css/ace.css' %}">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'template/assets/favicon.png' %}" />

    <!-- "Error" page styles, specific to this page for demo only -->
  </head>

  <body>
    <div class="body-container">

      <div class="main-container bgc-white">



        <div role="main" class="main-content">

          <div class="page-content container container-plus">
            <div class="row justify-content-center pos-rel">

              <div class="pos-rel col-12 col-sm-7 mt-1 mt-sm-3">
                <div class="py-3 px-1 py-lg-4 px-lg-5">

                  <div class="text-center fa-4x">
                    <span class="text-100 text-dark-m3 d-sm-none"><!-- smaller text to fit in small devices -->
                        ¯\_(ツ)_/¯
                    </span>
                    <span class="text-110 text-dark-m3 d-none d-sm-inline">
                        ¯\_(ツ)_/¯
                    </span>
                  </div>


                  <div class="text-center fa-4x text-orange-d2 letter-spacing-4">
                    404
                  </div>


                  <div class="text-center">
                    <span class="text-150 text-primary-d2">
                        Page not found...
                    </span>
                  </div>


                  <div class="text-dark-m2 text-110 text-center text-md-left mt-45">
                    We looked everywhere but we couldn't find it!
                  </div>


                  <div class="mt-4 text-105 bgc-secondary-l4 py-2 px-3 radius-1">
                    <span class="text-600 text-dark-m3">
                        Try one of the following:
                    </span>

                    <ul class="list-unstyled mt-3 mx-sm-3 mb-0 text-dark-m2 ">
                      <li class="my-2">
                        <i class="fa fa-circle text-xs text-blue-d1 align-middle mr-1"></i>
                        Re-check the url for typos
                      </li>

                      <li class="my-2">
                        <i class="fa fa-circle text-xs text-blue-d1 align-middle mr-1"></i>
                        Read the faq
                      </li>

                      <li class="my-2">
                        <i class="fa fa-circle text-xs text-blue-d1 align-middle mr-1"></i>
                        Tell us about it
                      </li>
                    </ul>
                  </div>


                  <div class="text-center mt-4">
                    <button type="button" class="btn btn-bgc-white btn-outline-default px-35 btn-text-slide-x" onclick="javascript:window.history.back();">
                      <i class="btn-text-2 fa fa-arrow-left text-110 align-text-bottom mr-2"></i>Go Back
                    </button>

                    <a href="/">
                      <button type="button" class="btn btn-bgc-white btn-outline-primary px-35">
                        <i class="fa fa-home"></i>
                        Homepage
                      </button>
                    </a>
                  </div>


                </div>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>

  </body>

</html>